<div class="input-group mb-3">
    <div>
        <label for="start-date-input">Start Date</label>
        <input type="date" class="form-control" id="start-date-input-earthquake">
    </div>
    <div>
        <label for="start-date-input">End Date</label>
        <div class="input-group mb-3">

        <input type="date" class="form-control" id="end-date-input-earthquake">
        <button type="button" class="btn btn-primary" id="find-earthquakes">Find earthquakes</button>
        </div>
    </div>
</div>
<ul id="earthquake-list">

</ul>
  