
<div class="input-group mb-3">
    <div>
        <div class="input-group mb-3">
            <div >
            <div >                
                <label for="cities-dropdown">Start Date</label>
            </div >
            <select name="cities" id="cities-dropdown" style="padding-top:5px; padding-bottom:5px">
                <option value="city1">Error, try again</option>
              </select>
            </div>
            <div>
                <label for="start-date-input-nearest">Start Date</label>
                <input type="date" class="form-control" id="start-date-input-nearest">
            </div>
        </div>
    </div>
    <div>
        <label for="end-date-input-nearest">End Date</label>
        <div class="input-group mb-3">
            <input type="date" class="form-control" id="end-date-input-nearest">
            <button type="button" class="btn btn-primary" id="nearest-earthquake">Nearest earthquake</button>
        </div>
    </div>
</div>
<ul id="nearest-list">

</ul>